miss_evie/config.py
logfile
miss_evie.session
miss_evie.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
miss_evie.mp3
gpic.png
